<div
  class="flex flex-col flex-1 p-4 border-2 border-gray-100 rounded-md shadow-md"
>
  <div class="flex flex-row justify-center">
    <div class="pl-1 my-3 text-xl font-bold">Post {{ post.id }}</div>
  </div>
  <div class="flex flex-row">
    <div><mat-icon class="text-blue-600">account_circle</mat-icon></div>
    <div class="pl-1 font-bold text-gray-700 text-md">{{ post.author }}</div>
  </div>
  <div class="flex flex-row">
    <div><mat-icon class="text-green-600">thumb_up_alt</mat-icon></div>
    <div class="pl-1">{{ post.likes }}</div>
  </div>
  <div class="flex flex-row">
    <div><mat-icon>library_books</mat-icon></div>
    <div class="pl-1">{{ post.reads }}</div>
  </div>
  <div class="flex flex-row">
    <div><mat-icon class="text-red-600">favorite</mat-icon></div>
    <div class="pl-1">{{ Math.floor(post.popularity * 100) + "%" }}</div>
  </div>
  <div class="flex flex-col">
    <div class="font-semibold text-md">{{ post.tags.length }} Tag(s)</div>
    <div class="flex flex-row flex-wrap gap-2 my-3">
      <div *ngFor="let tag of post.tags">
        <div
          class="p-2 min-w-[70px] font-semibold col-span-1 rounded-full bg-cyan-200 text-center self-center border-solid border border-cyan-700 text-black"
        >
          {{ tag }}
        </div>
      </div>
    </div>
  </div>
</div>
