<main class="max-w-[1300px] mx-auto my-10">
  <section class="flex flex-col items-center justify-center p-10">
    <div class="w-full">
      <div>
        <h1 class="text-6xl font-bold welcome">
          Welcome to this posts displayer
        </h1>
        <p class="my-6 text-xl">
          You can filters by the following form and get the related posts, try
          it !
        </p>
      </div>
      <div>
        <div class="flex flex-row gap-2">
          <div class="w-full col-span-2 my-5 md:w-2/4">
            <div class="flex flex-row justify-between">
              <input
                class="w-2/4 px-4 border-2 border-gray-400 rounded-md"
                #tagSearch
                type="text"
                placeholder="Filter by city"
                (keydown.enter)="addTag(tagSearch.value); tagSearch.value = ''"
              />
              <button
                class="w-1/4 border-solid primary hover:cursor-pointer"
                type="button"
                (click)="addTag(tagSearch.value); tagSearch.value = ''"
              >
                Add
              </button>
            </div>
            <div class="my-5">{{ allItems.length }} Tag(s) added</div>
            <ul class="overflow-y-scroll max-h-60">
              <li *ngFor="let tag of allItems">
                <app-item (remove)="remove(tag)" [item]="tag"></app-item>
              </li>
            </ul>
          </div>
          <div class="w-full my-5 md:w-1/4">
            <div class="px-5 border-solid rounded-md shadow-md border-gray-50">
              <div class="my-3">Select sorting property</div>
              <div class="flex flex-col mx-4">
                <div *ngFor="let sortProp of sortProperties">
                  <input
                    type="radio"
                    [id]="sortProp"
                    name="sortGroup"
                    [value]="sortProp"
                    (change)="onSortingPropertyChange($event)"
                    [checked]="sortProp === 'id'"
                  />
                  <label class="mx-2" [for]="sortProp">{{ sortProp }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full my-5 md:w-1/4">
            <div class="px-5 border-solid rounded-md shadow-md border-gray-50">
              <div class="my-3">Select sorting direction</div>
              <div class="flex flex-col mx-4">
                <div *ngFor="let direction of directionProperties">
                  <input
                    type="radio"
                    [id]="direction"
                    name="directionGroup"
                    [value]="direction"
                    (change)="onSortingDirectionChange($event)"
                    [checked]="direction === 'asc'"
                  />
                  <label class="mx-2" [for]="direction">{{ direction }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button
          class="w-2/4 px-4 py-2 text-white bg-green-600 rounded-sm hover:cursor-pointer"
          (click)="send()"
        >
          Seach
        </button>
      </div>
    </div>
    <div class="grid w-full grid-flow-row grid-cols-4 gap-3 my-10">
      <div class="col-span-4 text-xl">{{ posts.length }} Post(s) found</div>
      <app-post
        *ngFor="let post of posts"
        [post]="post"
        class="col-span-1"
      ></app-post>
      <div *ngIf="posts.length <= 0" class="col-span-4">
        No posts found, please change filters and retry !
      </div>
    </div>
  </section>
</main>
